<div class='oli-sign-in'>
  <%= flash[:error] if flash[:error]%>
  <%= form_tag '' do  %>
  <%= label_tag "login", "Login" %>
  <%= email_field_tag "login" , @params[:login]  %>
  <%= label_tag "password", "Password"  %>
  <%= password_field_tag "password" %>
  <%= hidden_field_tag "return-to", @return_to %>
  <div>
  <%= submit_tag 'Sign In', class: 'btn btn-primary' %>
  <% if WebLogin::Config.use_facebook? %>
  <a href="/auth/facebook">Sign in with facebook</a>
  <% end %>
  </div>
  <%= render :partial => "alternate_sign_ins" %>
  <% end %>
  <% if WebLogin::Config.sign_up_with %>
  <%= link_to "Sign Up",'sign_up' %>
  <% end %>
</div>